$body-bg: #ebedf0;
$main-color: rgba(0,0,0,0.5);
$second-color: #c39c1a;
$text-color: #fff;
$error-color: #ff3333;
$correct-color: #1ac31a;

$button-color: #6b5fd0;

$white: white;

$box-shadow: 0px 0px 10px 4px rgba($white, 0.3);;

$header-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
